@model ChuckNorrisJokeModel
@{
    ViewData["Title"] = "GetRandomChuckNorrisJoke";
}

<h1 class="text-center text-primary">Here is a random Chuck Norris joke!</h1>
<br/>
<br/>
<h2 class="text-black-50">@Model.value</h2>

